// STYLES POUR LA PAGE D'AJOUT D'ARTICLE
section.ajout-article {
  margin-top: 40px;
  margin-bottom: 40px;

  h2 {
    text-align: center;
  }

  form {
    flex-direction: column;

    width: 100%;

    .btn-envoyer {
      align-self: center;
      width: 60%;
    }
  }
}

// Affichage tablette/PC
@media screen and (min-width: $breakpoint-sm) {
  section.ajout-article {

    h2 {
      text-align: left;
    }

    form {
      .btn-envoyer {
        align-self: flex-end;
        width: 15%;
      }
    }
  }
}