// STYLES POUR LA PAGE DE L'ARTICLE

section.img-article {
  background: url("../images/chien-colley-lg.jpg") center/cover no-repeat;
  min-height: 425px;

  margin-top: 66px;
}

section.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  // Pas eu le choix de le faire comme ça, sinon ça overwrite le margin du wrapper
  margin-top: 40px;
  margin-bottom: 40px;

  article {
    width: 70%;
  }

  // Encadré d'informations
  aside {
    order: -1;

    background-color: $color-beige;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 20px;

    width: 75%;
    height: 25%;

    img {
      width: 100px;
      height: 100px;

      object-fit: cover;

      border-radius: 50%;
    }

    hr {
      width: 50%;
      margin: 0 0 10px
    }

    p {
      margin: 10px 0 0;
    }
  }

}


// Affichage PC
@media screen and (min-width: $breakpoint-lg) {
  section.contenu {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    aside {
      order: 0;

      width: 25%;

      align-items: flex-start;

      margin-left: 30px;

      img {
        align-self: center;
      }

      h4 {
        align-self: center;
      }

      hr {
        width: 100%
      }
    }
  }

}