.banniere {
  background: url("../images/chat_wijsbk_c_scale,w_310.jpg") center/cover no-repeat;;
  min-height: 310px;

  display: flex;
  align-items: flex-end;

  margin: 66px 0 20px;

  h2 {
    padding: 20px;
    background-color: $color-bg-h2-bann;
    color: $black;

    text-align: center;
  }
}


// Resoltuon x2
@media (min-resolution: 192dpi) {

  .banniere {
    background-image: url("../images/chat_wijsbk_c_scale,w_3044.jpg");
  }

}



@media screen and (min-width: $breakpoint-sm) {

  .banniere {
    background-image: url("../images/chat_wijsbk_c_scale,w_1386.jpg");

    align-items: center;
    justify-content: center;

    h2 {
      padding: 40px;
    }
  }

  // Resoltuon x2
  @media (min-resolution: 192dpi) {
    .banniere {
      background-image: url("../images/chat_wijsbk_c_scale,w_3438.jpg");
    }
  }

}



@media screen and (min-width: $breakpoint-md) {

  .banniere {
    background-image: url("../images/chat_wijsbk_c_scale,w_2041.jpg");
  }

  // Resoltuon x2
  @media (min-resolution: 192dpi) {
    .banniere {
      background-image: url("../images/chat_wijsbk_c_scale,w_3816.jpg");
    }
  }

}


@media screen and (min-width: $breakpoint-lg) {

  .banniere {
    background-image: url("../images/chat_wijsbk_c_scale,w_2576.jpg");
  }

  @media (min-resolution: 192dpi) {
    .banniere {
      background-image: url("../images/chat_wijsbk_c_scale,w_4000.jpg");
    }
  }

}