// STYLES POUR LA POPUP DE CONNEXION
.connexion-modale{

  // Fenêtre modale
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 10;

  overflow-y: auto;

  background-color:rgba(0, 0, 0, 0.6);

  display: none;
  justify-content: center;
  align-items: center;

  // Fenêtre modale ouverte
  &.open{
    display: flex;
  }


  // Interface de connexion
  .connexion {
    display: flex;
    flex-direction: column;

    background-color: $white;

    padding: 40px;
    margin-top: 50px;

    width: 100%;

    .entete-connexion {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 10px;

      button.btn-fermer {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 35px;
        width: 35px;

        border-radius: 50%;
      }
    }


    form.form-connexion {
      flex-direction: column;
    }
  }


}

// Affichage tablette
@media screen and (min-width: $breakpoint-sm) {
  .connexion-modale {
    .connexion {
      width: 50%;
      margin: 0;
    }
  }
}

// Affichage PC
@media screen and (min-width: $breakpoint-lg) {
  .connexion-modale {
    .connexion {
      width: 25%;
    }
  }
}