//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-header;

  // Pour fixer le menu
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  nav {
    /* Aligner le menu */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Logo du header */
    .logo {

      justify-content: center;

      display: flex;
      align-items: center;

      /* Marge en affichage mobile */
      margin-bottom: 20px;

      img {
        width: 45px;
        margin-right: 10px;
      }

      h1 {
        text-transform: uppercase;
      }
    }

    /* Bouton toggle */
    .show-menu {
      display: block;
      text-align: center;
      color: $white;
      background-color: $color-orange;
      cursor: pointer;
      padding: 10px 0;
      margin: 0;
    }

    .toggle-menu {
      display: none;
    }

    .toggle-menu:checked + ul{
      display: block;
    }


    /* Liens du menu */
    ul {
      list-style: none;
      padding: 0;

      flex-shrink: 0;

      display: none;
      flex-direction: column;

      text-align: center;

      li {
        position: relative;

        i {
          padding-left: 5px;
        }

        /*--------------------------------------*/
        /* Les sous-menu */
        & > ul {
          display: none;

          border: 2px solid $black;

          li {
            width: 100%;
            padding: 10px 5px;

            background-color: $white;
            transition: background-color 0.5s;
          }
          li:hover {
            background-color: $color-bg-hover;
            transition: background-color 0.5s;

            cursor: pointer;

            a {
              color: $white;
            }
          }
        }

        &:hover > ul {
          display: block;
        }
        /*--------------------------------------*/

        a {
          padding: 0 15px;
          color: $color-pink;
        }
        a:hover {
          color: $white;
        }
      }

    }

  }

}

// Affichage tablette/PC
@media screen and (min-width: $breakpoint-sm) {

  .header-page {

    nav {
      flex-direction: row;
      justify-content: space-between;

      padding: 5px 0;

      .logo {
        justify-content: flex-start;
        margin-bottom: 0;
      }

      /* On cache les éléments tu toggle */
      .toggle-menu, .show-menu {
        display: none;
      }

      .toggle-menu:checked + ul {
        display: flex;
      }

      ul {
        display: flex;
        flex-direction: row;
      }

      /* Pour les sous-menu */
      li > ul {
        min-width: 180px;

        position: absolute;
        z-indez: 50;
        top: 100%;
      }

    }

  }

}








