// STYLES POUR LA PAGE D'INSCRIPTION

section.inscription {
  margin-top: 40px;
  margin-bottom: 40px;

  h2 {
    text-align: center;
  }

  form {
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
    }

    div.contenu {
      flex-direction: column;
      align-items: center;

      div {
        flex-direction: column;

        width: 100%;
      }
    }

    .btn-envoyer {
      align-self: center;
      width: 60%;
    }
  }
}


// Affichage tablette/PC
@media screen and (min-width: $breakpoint-sm) {
  section.inscription {

    h2 {
      text-align: left;
    }

    form {
      align-items: flex-start;

      div.contenu {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        width: 100%;

        div {
          flex-direction: column;

          width: 40%;
        }
      }

      .btn-envoyer {
        align-self: flex-end;
        width: 15%;
      }
    }
  }
}