// STYLES POUR LA PAGE DU PROFIL
section.profil {
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .contenu {
    margin: 20px 0;

    align-self: center;

    div {
      display: flex;
      width: 85%;
      align-items: center;

      flex-direction: column;

      margin: 10px 0;

      p:first-child {
        font-weight: bolder;
      }
      p {
        margin: 0;
      }

      img {
        width: 150px;
        height: 150px;

        object-fit: cover;

        border-radius: 50%;
      }
    }
  }

  button {
    padding: 10px;
    margin-top: 20px;

    width: 65%;
  }
}

// Affichage tablette
@media screen and (min-width: $breakpoint-sm) {
  section.profil {
    .contenu {

      div {
        flex-direction: row;

        width: 60%;

        margin: 0;

        p {
          width: 300px;
          margin: 10px 0;
        }
      }
    }

    button {
      width: 40%;
    }
  }
}

// Affichage PC
@media screen and (min-width: $breakpoint-lg) {
  section.profil {
    .contenu {

      div {
        width: 85%;

        p {
          width: 400px;
        }
      }

    }

    button {
      width: 30%;
    }
  }
}