// STYLES POUR LA SECTION DES ANIMAUX SUR LA PAGE INDEX
section.section-animaux {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* Les articles */
  article {
    display: flex;
    flex-direction: column;

    background-color: $color-beige;

    border-radius: 10px;

    padding: 10px;
    margin: 20px 0;

    img {
      align-self: center;

      width: 100%;

      margin-bottom: 10px;
    }

    h3 {
      margin: 10px 0;
    }

    p {
      margin: 8px 0 15px;
      color: $black;
    }

    // Bouton "Lire plus"
    a {
      margin: auto 0 10px;
      align-self: center;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 150px;
      height: 40px;

      background-color: $color-grey;
      transition: background-color 0.5s;
      border-radius: 10px;

      i {
        margin-left: 5px;
      }
    }

    a:hover {
      color: $white;

      background-color: lighten($color-grey, 20%);
      transition: background-color 0.5s;
    }
  }
}


// Affichage tablette
@media screen and (min-width: $breakpoint-sm) {

  .section-animaux {
    article {
      flex-basis: 49%;
    }
  }
}


// Affichage PC
@media screen and (min-width: $breakpoint-lg) {

  .section-animaux {
    article {
      flex-basis: 32%;

      margin: 10px 0;

      img {
        transition: width 2s;
      }
      img:hover {
        width: 108%;
        transition: width 2s;
      }
    }
  }
}
