footer {
  background-color: $color-grey;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $color-pink;

    padding: 5px;

    i {
      font-size: rem(30);
    }
    i:hover {
      color: $white;
      cursor: pointer;
    }
  }

}