// STYLES POUR LES FORMULAIRES

form {
  display: flex;
}


// Tous les éléments de form
label,
button,
input,
optgroup,
select,
textarea {
  color: $color-pink;
  font: inherit;
  margin: 0;
  transition: 0.5s all;
}

label {
  margin: 10px 0 5px;
}

input, textarea {
  margin-bottom: 15px;
}

[type="submit"] {
  margin-top: 20px;
}

// Styles des inputs
[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
[type="search"] {
  height: $base-input-height;
  padding: 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Hover sur les inputs
[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="tel"]:hover,
[type="number"]:hover,
[type="date"]:hover,
[type="search"]:hover,
textarea:hover {
  background-color: $base-input-background-hover-color;
}

// Textarea
textarea {
  padding: 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  overflow: auto;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Select
select {
  text-transform: none;
  height: $base-input-height;
  padding: 0 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Buttons
button, [type="submit"] {
  background-color: $color-pink;
  transition: background-color 0.5s;

  color: $white;

  border: none;
  border-radius: $base-input-border-radius;

  overflow: visible;
  text-transform: none;
  cursor: pointer;
}
button:hover, [type="submit"]:hover {
  background-color: $color-grey;
  transition: background-color 0.5s;

  color: $color-pink;
}

[type="submit"] {
  padding: 10px;
}

// Placeholders
::placeholder { color: $base-input-placeholder-color; }

