// LES STYLES DE BASE DES BALISES <h>

h1, h2, h3, h4 {
  margin: 0;
  @include font($ff-headings, $fz-logo, $color-orange, $lh-normal);
}

h1{
  font-weight: $fw-semibold;
}

h2{
  font-size: rem(30);
}

h3{
  font-size: rem(20);
}

h4 {
  font-weight: lighter;
  font-size: rem(13);
  color: $black;
}
