//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleurs de base
$white: #fff;
$black: #03121C;
$color-grey: #2c2c30;
$color-orange: #f36344;
$color-pink: #f03e58;
$color-beige: #f1ebeb;

// Couleurs des textes
$color-text-normal: $black;
$color-text-logo: $color-orange;

// Couleurs des backgrounds
$color-bg-header: $color-grey;
$color-bg-hover: lighten($color-pink, 20%);
$color-bg-h2-bann: rgba(243,99,68, 0.6);

// Couleur des links
$color-link: $color-pink;
$color-link-visited: $color-link;
$color-link-hover: darken($color-link, 20%);
$color-link-active: lighten($color-link, 20%);
$color-link-focus: $color-link;


//Couleurs pour les formulaires
$base-input-placeholder-color:                  lighten($color-pink, 40%) ;
$base-input-color:                              $color-pink;
$base-input-background-color:                   lighten($color-pink, 20%);
$base-input-background-hover-color:             lighten($color-pink, 10%);
$base-input-background-focus-color:             $white;
$base-input-border-color:                       $color-pink; ;
$base-input-border-focus-color:                 $color-grey;