// VARIABLES DE LARGEUR/HAUTEUR
$width-wrapper: 1000px;


// Dimension pour les media queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;


//Dimension pour formulaire
$base-input-height:                             40px ;
$base-input-border-radius:                      15px ;
$base-input-border-size:                        2px ;

