//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


// Grosseur des textes
$fz-normal: rem(16);
$fz-logo: rem(25);

$lh-normal: 1.5;

// Font family
$ff-normal: 'Montserrat', Arial, sans-serif;
$ff-headings: 'Palanquin Dark', Impact, sans-serif;

// Font weight
$fw-semibold: 600;
